.feedback {
    padding: 0 30px;
    margin-bottom: 50px;
}

.feedback-form__title {
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.feedback-form-group {
    margin-bottom: 15px;
}

.feedback-form__input {
    background: #fff;
    padding: 10px;
    color: #000;
    border: 1px solid #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.feedback-form__input_textarea {
    resize: none;
    height: 200px;
}

.feedback-form__btn {
    background: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'FuturaPTBook';
    letter-spacing: 2px;
    display: block;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #000;
}

.feedback-form__btn_sending {
    background: #fff;
    color: #000;
}

.feedback-form__btn_sending:hover {
    color: #000;
}

.feedback-form__btn:hover {
    color: #fff;
}

.is-danger {
    border: 1px solid #ff0000;
}