a, a:hover, a:focus, a:visited, a:active{
    text-decoration: none;
    outline: none;
    transition: all ease-in-out .4s;
}
/*a:hover, a:focus, a:visited, a:active{
    color: #000;
}*/
html { font-size: 62.5%; }  /* =10px */
body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: #000;
    background: #f6f6f6;
} /* =16px */
.header {
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    background: #e4dcce;
}
.header img {
    width: 100%;
    max-width: 100%;
    margin-top: -17%;
}
.exp-inner {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 1200px){
    .exp-inner{
        top: 1%;
    }
}
.header .collection {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 250px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    line-height: 36px;
    transition: all ease-in-out .4s;
    border-radius: 5px;
}
.header .collection:hover, .bottom a.more:hover p {
    background-color: #fff;
    color: #886f44;
    transition: all ease-in-out .4s;
    border: 2px solid transparent;
   /* background-image: url(../img/spiritual-gifts.jpg);*/
   font-weight: bold;
   letter-spacing: 3px;
}
.header .logo svg {
    max-width: 80%;
    height: 150px;
}
.center_bottom{
    position: relative;
}
.capture{
    position: absolute;
    bottom: -150px;
    left: 0;
/*    height: 150px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, .75);
    padding: 20px;
}
.upholstery{
    margin: 210px 0;
}
.center_bottom .bx-wrapper img{
    max-width: 80%;
    margin-left: 10%;
}
.center_bottom .bx-wrapper{
    margin-bottom: 0;
}
.upholstery .bx-wrapper img{
    max-width: 66%;
    margin-left: 17%;
}
.center_bottom .bx-wrapper .bx-pager, .center_bottom .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -199px;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255, .75);
}
.center_bottom .bx-wrapper .bx-pager.bx-default-pager a {
    background: #999;
}
.center_bottom .bx-wrapper .bx-pager {
    padding: 0 0 30px 0;
}
.center_bottom .bx-wrapper .bx-prev {
    background: url(../img/chevron_left.png) no-repeat 0 0px;
    background-size: 50%;
}
.center_bottom .bx-wrapper .bx-next {
    background: url(../img/chevron_right.png) no-repeat 0 0px;
    background-size: 50%;
}
.center_bottom .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border: none; 
    background: transparent; 
}
.center_bottom .bx-wrapper .bx-next:hover, .center_bottom .bx-wrapper .bx-next:focus {
    background-position: 0 0;
}
.center_bottom h3{
    text-transform: uppercase;
    line-height: 1.35;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.image img{
    max-width: 100%;
}
.upholstery img{
    width: 80%;
    margin-left: 10%;
}
.price{
    font-size: 33px;
    font-weight: 900;
}
@media screen and (max-width: 1200px){
    .price{
        font-size: 30px;
    }
}
.old_price{
    font-size: 24px;
    font-weight: 900;
    position: relative;
    margin: 0;
}
.old_price::before{
    content: '';
    position: absolute;
    top: 50%;
    left: calc((100% - 150px)/2);
    width: 150px;
    height: 2px;
    display: block;
    background-color: red;
}
@media screen and (max-width: 1200px){
    .old_price::before{
        left: 15%;
        width: 70%;
    }
}
.text-center h1{
    margin: 50px 30px;
}
.text-center p{
    line-height: 1.8;
    margin: 0;
}
h2{
    margin-top: 75px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px;
    font-weight: bold;
}
.total, .head{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}
button{
    padding: 10px; 
    text-transform: uppercase; 
    text-align: center; 
    color: #fff; 
    background-color: #333; 
    outline: none; 
    border: 1px solid transparent; 
    letter-spacing: 2px; 
    margin: 30px auto 70px auto;
    max-width: 250px; 
    width: 50%; 
    display: block;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease-in-out .4s;
}
button:hover{
    color: #333;
    background-color: #fff;
    transition: all ease-in-out .4s;
    border: 1px solid #333; 
    letter-spacing: 3px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    color: #333;
    outline: none;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255, .9);
}
textarea{
    resize: vertical;
}
footer {
    background-color: #333;
    padding: 20px 0;
}
footer .inner {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
footer a {
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    transition: all ease-in-out .4s;
}
footer a:hover {
    transition: all ease-in-out .4s;
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}
.map{
    background: url(../img/Dottod-World-Map.png) center 75% no-repeat;
    background-size: 75%;
}
@media screen and (max-width: 1200px){
    .map{
        background-size: 95%;
    }
}
@media screen and (max-width: 992px){
    .map{
        background-size: 100%;
        background-position: center;
    }
}
#toTop{
    position: fixed;
    bottom: 5em;
    right: 1em;
    cursor: pointer;
    display: none;
    z-index: 10;
}
#toTop .glyphicon{
    color: #333;
    font-size: 4em;
    transform: rotate(-90deg);
    display: none;
}
#toTop p{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}
.description{
    margin: 0 0 0 15px;
    padding: 50px 0;
}